.admin-panel-sidenav {
    height: auto; 
    display: inline-block;
    margin-top: 10px;
    width: 18%; 
    left: 0;
    float:left;
    transition:0.3s;
  }
.admin-panel-sidebar-heading{
    background-color:#162b48;
    width:100%;
    padding:1px;
    padding-left:20px;
}  

.admin-panel-sidebar-options{
    background-color:#fff;
    padding:10px;
    width:100%;
}


.admin-panel-sidebar-options ul{
    list-style:none;
    font-size :2.2rem;
}

.admin-panel-sidebar-options li a{
    color:#000;
    font-weight:200;
}
 
.admin-panel-sidebar-options li:hover{
    background-color:#6195FF;

}

.controllerspan{
    font-size:30px;
    cursor:pointer;
    margin-left:20px;
}

.sidebar-list{
    color:#F0FFFF;
}

.content{
    border-top: 2px solid rgb(201, 194, 194);
    margin-left:1%;
    width:78%;
    display: inline-block;
    text-align:center;
    position:relative;
}

.stat-box{
    background-color: #B9CAF5;
    color: #000;
    padding: 20px;
    margin-bottom: 20px;
}

.stat{
    width: 30%;
    display: inline-block;
    border-radius: 16px;
    border: 1px solid beige;
    padding: 2%;
    margin: 10px;
}

.stat-img{
    height: 150px;
    width: 200px;
}

.update{
    width: 20%;
    display: inline-block;
    border-radius: 16px;
    border: 1px solid beige;
    padding: 2%;
    margin: 10px;
}
.update-img{
    height: 100px;
    width: 150px;
}

.update-box{
    color: #000;
    padding: 20px;
    margin-bottom: 20px;
}

.instructor-register{
    margin:0 25%;
}