.courses{
    border-top: 2px solid rgb(201, 194, 194);
    margin-left:1%;
    width:78%;
    display: inline-block;
    text-align:center;
    position:relative;
    padding: 20px;
}

.card-img-top{
    width: 80%;
}


.tags{
    display: inline-block;
}

.sbt-btn{
    margin-top: 50px;
}

.add-btn{
    margin-top: 50px;
}

.contain-card{
    width: 30%;
    display: inline-block;
    margin: 20px;
    border:0.5px solid grey;
    padding: 10px;
}

.opt-btn{
    margin:20px;
}

/*-------------------------add module css --------------------*/

.addmodule{
    width: 80%;
    text-align: center;
    padding:40px;
    display: inline-block;
}

.addModuleinfo{
    background-color: beige;
    padding: 20px;
    border-radius: 24px;
    border: 0.5px solid grey;
    margin: 30px 0;
}

.addmodule-pic{
    width: 70%;
    height: 30vh;
}

.name-module{
    width: 70%;
    margin-left: 15%;
}


/*----------specific course css ----------- */

.specific-div{
    text-align: center;
    padding: 40px;
}

.module-img{
    width: 70%;
    height: 30vh;
}

.module-box{
    border: 0.5px solid grey;
    background-color: rgb(202, 231, 243);
    padding: 20px;
    border-radius: 28px;
    width: 50%;
    display: inline-block;
}