.admin-panel-sidenav {
    height: auto; 
    display: inline-block;
    margin-top: 10px;
    width: 18%; 
    left: 0;
    float:left;
    transition:0.3s;
  }

.admin-panel-sidebar-heading{
    background-color:#162b48;
    width:100%;
    padding:1px;
    padding-left:20px;
}  

.admin-panel-sidebar-options{
    background-color:#fff;
    padding:10px;
    width:100%;
}


.admin-panel-sidebar-options ul{
    list-style:none;
    font-size :2.2rem;
}

.admin-panel-sidebar-options li a{
    color:#000;
    font-weight:200;
}
 
.admin-panel-sidebar-options li:hover{
    background-color:#6195FF;

}

.controllerspan{
    font-size:30px;
    cursor:pointer;
    margin-left:20px;
}

.sidebar-list{
    color:#F0FFFF;
}

.content{
    border-top: 2px solid rgb(201, 194, 194);
    margin-left:1%;
    width:78%;
    display: inline-block;
    text-align:center;
    position:relative;
}

.sbt-btn{
    margin-top: 50px;
    margin-bottom: 50px;
}


.error{
    color:red;
}

.success{
    color: green;
}

.accessdenied{
    text-align: center;
    color: red;
}

.user-pic{
    height: 200px;
    width: 200px;
}

.student-card{
    width:50%;
    display: inline-block;
    padding: 50px;
    margin: 50px 0;
    border-radius: 50%;
    background-color: #b9caf5;
}

.cname{
    color: #162b48;
}

.course-name{
    padding: 40px;
}


.mycourse{
    display: inline-block;
    text-align: center;
    padding-bottom: 50px;
    border-radius: 20px;
    background-color: #b9caf5;
}

.course-img{
    height: 400px;
    width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.course-handler{
    padding: 50px;
}